.site-header {
    padding: 64px 0 54px 0;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.site-header__logo-link {
    color: $color-grayish-dark-blue;
}

.site-header__button {
    display: none;
    border: none;
    background-color: transparent;
}

@include max(500px) {
    .site-header__button {
        display: block;
    }

    .site-header__nav {
        display: none;
    }

    .site-header--active .site-header__button-icon {
        display: none;
    }

    .site-header--active .site-header__button {
        background-image: url(../../img/header/close.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }

    .site-header--active .site-header__nav {
        display: block;
        position: absolute;
        z-index: 10;
        right: 5px;
        top: calc(100% + 20px);
    }

    .site-header--active .site-header__nav-list {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        width: 223px;
        background-color: $color-grayish-dark-blue;
        text-align: center;
    }

    .site-header--active .site-header__nav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .site-header--active .site-header__nav-item-link {
        color: #FFF;
    }
}